@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-serif: 'Playfair Display', serif;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
