---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../../public/me.jpeg";
---

<Layout>
  <h1 class="text-3xl font-bold font-serif">About Me</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 mt-4">
    <div class="md:col-span-1 order-2 md:order-1">
      <Image
        src={me}
        alt="Marit van der Loos"
        width={1000}
        class="object-cover w-full h-auto max-h-[800px]"
      />
    </div>
    <div class="prose md:col-span-2 order-1 md:order-2">
      <p>
        I am a visual artist based in Amsterdam. I work with photography, video,
        and installation. I am interested in the intersection of technology and
        art, and the role of art in society. I am also interested in the role of
        art in education and in the workplace. I am currently a PhD candidate at
        the University of Amsterdam, where I am researching the role of art in
        the workplace. I am also a lecturer at the University of Amsterdam,
        where I teach courses on art and technology. I am also a curator and a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam. I am also a
        member of the board of the Stedelijk Museum Amsterdam.
      </p>
    </div>
  </div>
  <div class="prose">
    <h1 class="text-3xl font-bold font-serif">Contact Me</h1>
    <p>
        You can contact me at
    </p>
  </div>
</Layout>
