---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="prose">
        <h1 class="text-3xl font-bold font-serif">Contact Me</h1>
        <p>
            You can contact me at marit(dot)vdloos(at)gmail(dotcom)
        </p>
    </div>
</Layout>
