---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="prose">
        <h1>Contact</h1>
        <p>You can bingbong contact me at <a href="mailto:marit@maritvanderloos.com">marit@maritvanderloos.com</a></p>
    </div>
</Layout>
