---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="prose">
        <h1>Contact</h1>
        <p>
            You can contact me at marit(dot)vdloos(at)gmail(dotcom)
        </p>
    </div>
</Layout>
