---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../../public/me.jpeg";
---

<Layout>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 mt-4">
    <div class="md:col-span-1 order-2 md:order-1">
      <Image
        src={me}
        alt="Marit van der Loos"
        width={1000}
        class="object-cover w-full h-auto max-h-[800px]"
      />
    </div>
    <div class="prose md:col-span-2 order-1 md:order-2">
      <p>
        I am Marit van der Loos, a Creative Technology student based in Utrecht.
        In my studies at the University of Twente, I explore innovative ways to
        use technology, finding creative solutions to relevant problems. I love
        learning about technology and its role in society, designing products,
        making prototypes, and testing them with users.
        <br />
        <br />
        Before my current studies, I completed the first year of the Bachelor’s in
        Illustration at the Hogeschool voor de Kunsten Utrecht. This experience challenged
        me to look at art in new ways, and helped shape my identity as an artist.
        <br />
        <br />
        In my projects, I love combining art and technology, connecting the analogue
        and digital worlds through a multidisciplinary approach. With my work, I
        want to make a positive impact by creating sustainable designs that help
        people or make them think.
        <br />
        <br />
        In my free time, I like to express myself creatively through drawing, painting,
        knitting, crochet and more. You can take a look at a selection of my projects
        on this website!
      </p>


      <p class="mt-12 text-right text-sm">
        <span class="text-gray-400"> You can contact me at </span><br />
        <span class="">vdlmarit(at)gmail(dot)com</span>
      </p>
    </div>
  </div>
</Layout>
