---
import Sidebar from "../components/sidebar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/portfolio/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Marit van der Loos | Portfolio" />
		<meta name="author" content="Marit van der Loos" />
		<meta name="keywords" content="Marit van der Loos, portfolio, art, projects" />
		<meta name="robots" content="index, follow" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<title>Marit van der Loos | Portfolio</title>
	</head>
	<body>
		<div class="flex gap-8 h-screen md:flex-row flex-col">
			<Sidebar />
			<div class="flex-1 p-2 md:py-8 md:px-16 h-screen overflow-y-auto">
				<slot />
			</div>
		</div>
	</body>
</html>
